{# @var content \Ibexa\Contracts\Core\Repository\Values\Content\Content #}
{# @var pbb_index int #}
{# @var additional_class string|null #}
<div class="qa-item{{ pbb_index }} {{ content.contentType.identifier }} {{ additional_class|default('') -}}">
    {% block pbb_content -%}

    {% endblock %}
</div>
