{# @var embed_content_list \Ibexa\Contracts\Core\Repository\Values\Content\Content[] #}

{%- set html_content -%}
    {% for embed_content in embed_content_list %}
        {{ render(controller('ibexa_content:embedAction', {'contentId': embed_content.id, 'viewType': 'pageBuilderBlock', 'params': {'limit_h_level': limit_h_level|default(2), 'pbb_index': loop.index}})) }}
    {% endfor %}
{%- endset -%}

{% if html_content|trim is not empty %}
    <div class="page-builder-blocks">
        {{ html_content|raw }}
    </div>
{% endif %}
