{% block isblocklayout_field %}
    {%- set options = fieldSettings.options -%}
    {%- for option_key, option_label in options -%}
        {% if option_key == field.value.layoutIdentifier %}
            {{ option_label }}
         {% endif %}
    {%- endfor -%}
{% endblock %}
